.ocultar{
    display: none;
}
.frm-datos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.frm-datos input {
    width: 500px;
    height: 35px;
    box-sizing: border-box;
    font-size: 16px;
}
.frm-datos input:focus {
    box-shadow: 3px 3px 0 0 rgba(95, 94, 93, 0.35);
    outline: none;
}
.frm-datos [required]:valid {
    border: solid green 1px;
}
.frm-datos [required]:invalid {
    border: solid red 1px;
}
.mostrar-etiqueta {
    margin-top: 1rem;
}
.input-error{
    margin-top: -1rem;
    font-size: 80%;
    background: red;
    color: white;
    transition: all 800ms ease;
    width: 500px
}
.input-error.is-active{
    display: block;
    animation: show-message 1s normal 0s ease-out both;
}

.servicios select {
    width: 200px;
    height: 35px;
    padding: 5px 1px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid var(--azules-1);
    background-color: #fff;
    cursor: pointer;
}
.plazos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.plazos input {
    width: 75px;
    height: 35px;
    appearance: none;
    font-size: 16px;
    padding-left: 16px;
    border: 1px solid var(--azules-1);
}
.planes {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.planes .chk {
    display: inline;
    font-size: 16px;
    cursor: pointer;
}

.contenedordispositivos {
    display: block;
    margin-top: .5rem;
    margin-left: 2rem;
    
}
.contenedordispositivos input {
    margin-left: .5rem;
    height: 25px;
    width: 50px;
}

.totales {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}
.totales span {
    width: 60px;
    height: 25px;
    border: none;
    appearance: none;
    text-align: center;
    background: none;
    font-size: 16px;
    font-weight: bolder;
    color: var(--rojos-1);
}
form .botones {
    display: inline;
    width: 150px;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    background: var(--amaril-3);
    border: 1px solid var(--rojos-1);
    color: var(--rojos-1);
    border-radius: 5px;
}
form .botones:hover {
    background: var(--azules-4);
    box-shadow: 3px 3px 0 0 rgba(95, 94, 93, 0.35);
}
form .botones[type=submit] {
    margin-right: 1rem;
}