<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/galeria.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
    <title>eHostingCO - Galeria</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="cabecera">
            <h1 id="icono" class="logo"></h1>
            <div class="navegador">
                <ul class="mimenu"></ul>
            </div>
        </div>
        <div class="main-galeria">
            <div class="section1-galeria">
                <video autoplay muted loop class="galeria-video">
                    <source src="../assets/video/introGaleria_1280_720_25fps.mp4" type="video/mp4">
                </video>
                <p id="texto-vid"></p>
            </div>
            <div class="galeria swiper">
                <div class="tarjeta-wrapper">
                    <ul class="tarjeta-lista swiper-wrapper"></ul>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <!--Aqui ira el main de la pagina de galeria-->
        </div>
        <div class="piepri">
            <h2 id="empresa"></h2>
            <div class="iconos"></div>
            <p id="derechos"></p>
        </div>
    </div>
    <script src="../js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="../js/galeria.js"></script>
    
</body>
</html>